/* {
  display: flex;
  box-sizing: border-box;
} */
html {
  position: relative;
}
body {
  text-align: center;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  background: linear-gradient(to bottom, rgb(0, 119, 255), navy, rgb(2, 0, 71));
  text-shadow: 1px 1px cyan;
  height: 100vh;
  width: 100vw;
}

.jumbotron {
  text-align: center;
  padding-top: 350px;
  padding-bottom: 600px;
}

#showResults {
  margin-top: 75px;
  position: center;
  height: 35vh;
  width: 35vw;
}
.button {
  padding: 20px;
  border-radius: 50%;
  border: none;
  background: red;
  color: navy;
}

.button:hover {
  padding: 22px 22px;
  background: rgb(253, 3, 107);
  color: cyan;
}

.button:active {
  background: rgb(170, 255, 0);
}
img {
  height: 35vh;
}

.col-4 {
  display: inline-flexbox;
}
